
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>контакты</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="top_cont">
    <div class="container top_box">
        <ul class="header">
            <li><a href="index"><img src="img/logo.svg" alt="logo"></a></li>
            <li><a href="contacts"><img src="img/kontact.svg" alt="kontact"></a></li>
        </ul>


    </div>



</div>
<div class="top__info_heading">

    <h2 class="head-contact">Contact Us</h2>
    <p class="projec__text_cont">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. </p>
</div>
<div class="contact">
    <div class="container">
        <div class="contactlist__container">
            <div class="contactlist-left">

                <div>
                    <img class="card_cont_img" src="img/Group.png" alt="Group">
                </div>
                <div>
                    <h4 class="contact head-text">ADDRESS</h4>
                    <p class="contactlist__text">Id convallis placerat sit sed duis id amet volutpat quam a,
                        pharetra.</p>
                </div>
                <div>
                    <h4 class="contact head-text">PHONE</h4>
                    <ul>
                        <li><a class="contactlist__text">+7-812-7313-4321</a></li>
                        <li><a class="contactlist__text">+7-817-0000-1234</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class="contact head-text">ONLINE SERVICE</h4>
                    <ul>
                        <li><a class="contactlist__text">www.site.com</a>
                        </li>
                        <li><a class="contactlist__text">hello.site@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="contactlist-right">
                <div class="contactlist-right-container">
                    <h4 class="head_text_message">SEND US MESSAGE</h4>

                    <form action="#">
                        <p class="full__name">Full Name</p>

                        <input class="contactlist__message_name_input" type="text" placeholder="Full Name">


                        <p class="full__name">Email</p>
                        <input class="contactlist__message_name_input" type="email" placeholder="Email@mail.ru">


                        <p class="full__name">Message</p>
                        <textarea class="contactlist__message_name_textar" cols="48" rows="6"></textarea>
                        <p></p>
                        <a href="#" class="contactlist__message_name_button" type="submit">Отправить</a>
                    </form>
                </div>
            </div>
        </div>

        <div class='map'>
            <iframe
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A579ab985b2e00efbb5ca3879c405902a2ebba70a51642d0ef9564465a2fad2b4&amp;source=constructor"
                    width="100%" height="450">
            </iframe>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer__tab container">

        <div class="footer__top_button">
            <div class="footer_button1">
                <h3 class="footer__head_text">Intersted to woek
                    with our team?</h3>
                <div class="footer__top1">
                    <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
            <div class="footer_button">
                <a href="#" class="footer__button_btn">Let’s Talk</a>
            </div>
        </div>
        <hr class="footer__bottom_ras">
        <div class="footer__bottom">
            <div class="footer__bottom_list">
                <ul class="footer_contacts text_footer">
                    <li class="footer_contact_item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li class="footer_contact_item">+7(999) 999-22-11</li>
                    <li class="footer_contact_item">mailito@mail.ru</li>
                </ul>
                <div class="footer__copy">
                    <p class="footer__text-bottom_copy">2021 © All rights reserved.</p>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

</html>